<center>
<img src="https://habrastorage.org/files/fd4/502/43d/fd450243dd604b81b9713213a247aa20.jpg">
    
## [mlcourse.ai](mlcourse.ai) – Open Machine Learning Course 

<center>Author: [Yury Kashnitskiy](http://yorko.github.io) <br>
Translated and edited by [Sergey Isaev](https://www.linkedin.com/in/isvforall/), [Artem Trunov](https://www.linkedin.com/in/datamove/), [Anastasia Manokhina](https://www.linkedin.com/in/anastasiamanokhina/), and [Yuanyuan Pao](https://www.linkedin.com/in/yuanyuanpao/) <br>All content is distributed under the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license.

# <center> Assignment #1 (demo)
## <center>  Exploratory data analysis with Pandas

**In this task you should use Pandas to answer a few questions about the [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) dataset. (You don't have to download the data – it's already here). Choose the answers in the [web-form](https://docs.google.com/forms/d/1uY7MpI2trKx6FLWZte0uVh3ULV4Cm_tDud0VDFGCOKg). This is a demo version of an assignment, so by submitting the form, you'll see a link to the solution .ipynb file.**

Unique values of all features (for more information, please see the links above):
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../input/adult.data.csv')
data.head()

   age         workclass  fnlwgt  ...   hours-per-week  native-country salary
0   39         State-gov   77516  ...               40   United-States  <=50K
1   50  Self-emp-not-inc   83311  ...               13   United-States  <=50K
2   38           Private  215646  ...               40   United-States  <=50K
3   53           Private  234721  ...               40   United-States  <=50K
4   28           Private  338409  ...               40            Cuba  <=50K

[5 rows x 15 columns]

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [3]:
# You code here
data['sex'].value_counts()

Male      21790
Female    10771
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [4]:
# You code here
data[data['sex']=='Female']['age'].mean()

36.85823043357163

In [5]:
data.loc[data['sex'] == 'Female', 'age'].mean()

36.85823043357163

**3. What is the percentage of German citizens (*native-country* feature)?**

In [6]:
# You code here
data['native-country'].value_counts(normalize=True)

United-States                 0.895857
Mexico                        0.019748
?                             0.017905
Philippines                   0.006081
Germany                       0.004207
Canada                        0.003716
Puerto-Rico                   0.003501
El-Salvador                   0.003255
India                         0.003071
Cuba                          0.002918
England                       0.002764
Jamaica                       0.002488
South                         0.002457
China                         0.002303
Italy                         0.002242
Dominican-Republic            0.002150
Vietnam                       0.002058
Guatemala                     0.001966
Japan                         0.001904
Poland                        0.001843
Columbia                      0.001812
Taiwan                        0.001566
Haiti                         0.001351
Iran                          0.001321
Portugal                      0.001136
Nicaragua                     0.001044
Peru                          0.000952
France                        0.000891
Greece                        0.000891
Ecuador                       0.000860
Ireland                       0.000737
Hong                          0.000614
Cambodia                      0.000584
Trinadad&Tobago               0.000584
Thailand                      0.000553
Laos                          0.000553
Yugoslavia                    0.000491
Outlying-US(Guam-USVI-etc)    0.000430
Hungary                       0.000399
Honduras                      0.000399
Scotland                      0.000369
Holand-Netherlands            0.000031
Name: native-country, dtype: float64

In [7]:
float((data['native-country'] == 'Germany').sum())/data.shape[0]

0.004207487485028101

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [8]:
# You code here
data[data['salary']=='<=50K']['age'].describe()

count    24720.000000
mean        36.783738
std         14.020088
min         17.000000
25%         25.000000
50%         34.000000
75%         46.000000
max         90.000000
Name: age, dtype: float64

In [9]:
data[data['salary']=='>50K']['age'].describe()

count    7841.000000
mean       44.249841
std        10.519028
min        19.000000
25%        36.000000
50%        44.000000
75%        51.000000
max        90.000000
Name: age, dtype: float64

In [10]:
ages1 = data.loc[data['salary'] == '>50K', 'age']
ages2 = data.loc[data['salary'] == '<=50K', 'age']
print("The average age of the rich: {0} +- {1} years, poor - {2} +- {3} years.".format(
    round(ages1.mean()), round(ages1.std(), 1),
    round(ages2.mean()), round(ages2.std(), 1)))

The average age of the rich: 44 +- 10.5 years, poor - 37 +- 14.0 years.

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [11]:
# You code here
data.loc[data['salary'] == '>50K', 'education'].unique()

array(['HS-grad', 'Masters', 'Bachelors', 'Some-college', 'Assoc-voc',
       'Doctorate', 'Prof-school', 'Assoc-acdm', '7th-8th', '12th',
       '10th', '11th', '9th', '5th-6th', '1st-4th'], dtype=object)

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [12]:
# You code here
data.groupby(['race','sex'])['age'].describe(percentiles=[])

                             count       mean        std   min   50%   max
race               sex
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  36.0  80.0
                   Male      192.0  37.208333  12.049563  17.0  35.0  82.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  33.0  75.0
                   Male      693.0  39.073593  12.883944  18.0  37.0  90.0
Black              Female   1555.0  37.854019  12.637197  17.0  37.0  90.0
                   Male     1569.0  37.682600  12.882612  17.0  36.0  90.0
Other              Female    109.0  31.678899  11.631599  17.0  29.0  74.0
                   Male      162.0  34.654321  11.355531  17.0  32.0  77.0
White              Female   8642.0  36.811618  14.329093  17.0  35.0  90.0
                   Male    19174.0  39.652498  13.436029  17.0  38.0  90.0

In [13]:
for (race, sex), sub_df in data.groupby(['race', 'sex']):
    print("Race: {0}, sex: {1}".format(race, sex))
    print(sub_df['age'].describe())

Race: Amer-Indian-Eskimo, sex: Female
count    119.000000
mean      37.117647
std       13.114991
min       17.000000
25%       27.000000
50%       36.000000
75%       46.000000
max       80.000000
Name: age, dtype: float64
Race: Amer-Indian-Eskimo, sex: Male
count    192.000000
mean      37.208333
std       12.049563
min       17.000000
25%       28.000000
50%       35.000000
75%       45.000000
max       82.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Female
count    346.000000
mean      35.089595
std       12.300845
min       17.000000
25%       25.000000
50%       33.000000
75%       43.750000
max       75.000000
Name: age, dtype: float64
Race: Asian-Pac-Islander, sex: Male
count    693.000000
mean      39.073593
std       12.883944
min       18.000000
25%       29.000000
50%       37.000000
75%       46.000000
max       90.000000
Name: age, dtype: float64
Race: Black, sex: Female
count    1555.000000
mean       37.854019
std        12.637197
min        17.000000
25%        28.000000
50%        37.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Black, sex: Male
count    1569.000000
mean       37.682600
std        12.882612
min        17.000000
25%        27.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: Other, sex: Female
count    109.000000
mean      31.678899
std       11.631599
min       17.000000
25%       23.000000
50%       29.000000
75%       39.000000
max       74.000000
Name: age, dtype: float64
Race: Other, sex: Male
count    162.000000
mean      34.654321
std       11.355531
min       17.000000
25%       26.000000
50%       32.000000
75%       42.000000
max       77.000000
Name: age, dtype: float64
Race: White, sex: Female
count    8642.000000
mean       36.811618
std        14.329093
min        17.000000
25%        25.000000
50%        35.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64
Race: White, sex: Male
count    19174.000000
mean        39.652498
std         13.436029
min         17.000000
25%         29.000000
50%         38.000000
75%         49.000000
max         90.000000
Name: age, dtype: float64

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [14]:
# You code here
data[data['marital-status'].apply(lambda state: state[0] == 'M')]['salary'].value_counts(normalize=True)

<=50K    0.56308
>50K     0.43692
Name: salary, dtype: float64

In [15]:
data[data['marital-status'].apply(lambda state: state[0] != 'M')]['salary'].value_counts(normalize=True)

<=50K    0.935546
>50K     0.064454
Name: salary, dtype: float64

In [16]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    7552
>50K      697
Name: salary, dtype: int64

In [17]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

<=50K    7576
>50K     5965
Name: salary, dtype: int64

In [18]:
data['marital-status'].value_counts()

Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: marital-status, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [19]:
# You code here
data['hours-per-week'].describe(percentiles=[])

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
50%         40.000000
max         99.000000
Name: hours-per-week, dtype: float64

In [20]:
data[data['hours-per-week']==99.0]

       age         workclass  ...    native-country salary
935     37           Private  ...     United-States   >50K
1172    25           Private  ...     United-States   >50K
1887    55  Self-emp-not-inc  ...     United-States   >50K
3578    37      Self-emp-inc  ...     United-States   >50K
4086    50                 ?  ...     United-States  <=50K
4308    35  Self-emp-not-inc  ...     United-States  <=50K
4441    43      Self-emp-inc  ...     United-States   >50K
5376    43           Private  ...     United-States  <=50K
5432    44           Private  ...     United-States  <=50K
6618    27           Private  ...     United-States  <=50K
6898    53  Self-emp-not-inc  ...     United-States  <=50K
8072    44  Self-emp-not-inc  ...     United-States  <=50K
8393    50      Self-emp-inc  ...     United-States   >50K
8654    30           Private  ...     United-States  <=50K
8796    39           Private  ...     United-States   >50K
9811    28           Private  ...       Philippines  <=50K
9831    67           Private  ...     United-States  <=50K
10143   35                 ?  ...     United-States  <=50K
10266   56      Self-emp-inc  ...     United-States  <=50K
10468   44  Self-emp-not-inc  ...     United-States  <=50K
10986   38           Private  ...     United-States   >50K
11833   58           Private  ...     United-States  <=50K
12209   53  Self-emp-not-inc  ...     United-States  <=50K
12625   51           Private  ...             South  <=50K
12788   24         State-gov  ...           England  <=50K
13558   38           Private  ...     United-States   >50K
13580   38  Self-emp-not-inc  ...     United-States  <=50K
13617   49           Private  ...     United-States  <=50K
13858   37           Private  ...            France   >50K
14593   27           Private  ...     United-States  <=50K
...    ...               ...  ...               ...    ...
23226   51  Self-emp-not-inc  ...     United-States  <=50K
23398   66           Private  ...     United-States  <=50K
23649   45           Private  ...     United-States   >50K
23830   45  Self-emp-not-inc  ...     United-States  <=50K
24483   39      Self-emp-inc  ...             Japan   >50K
25354   65           Private  ...     United-States  <=50K
25713   32           Private  ...     United-States   >50K
25806   49                 ?  ...     United-States  <=50K
25831   31           Private  ...     United-States   >50K
25986   44         Local-gov  ...     United-States  <=50K
26250   36  Self-emp-not-inc  ...     United-States  <=50K
26596   35           Private  ...     United-States   >50K
26638   55  Self-emp-not-inc  ...     United-States  <=50K
26858   66           Private  ...     United-States  <=50K
27222   32         Local-gov  ...     United-States  <=50K
27764   38  Self-emp-not-inc  ...     United-States  <=50K
27809   30           Private  ...     United-States  <=50K
28112   61                 ?  ...     United-States  <=50K
29187   31           Private  ...     United-States   >50K
29751   51  Self-emp-not-inc  ...     United-States  <=50K
29989   43         Local-gov  ...     United-States   >50K
30036   40           Private  ...     United-States   >50K
30610   51  Self-emp-not-inc  ...     United-States   >50K
30754   31           Private  ...     United-States  <=50K
30766   42  Self-emp-not-inc  ...     United-States   >50K
30992   40      Self-emp-inc  ...     United-States  <=50K
31681   43           Private  ...     United-States   >50K
31699   43  Self-emp-not-inc  ...     United-States  <=50K
32469   58      Self-emp-inc  ...                 ?  <=50K
32531   30                 ?  ...     United-States  <=50K

[85 rows x 15 columns]

In [21]:
data[data['hours-per-week']==99.0]['salary'].value_counts(normalize=True)

<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

In [22]:
max_load = data['hours-per-week'].max()
print("Max time - {0} hours./week.".format(max_load))

num_workaholics = data[data['hours-per-week'] == max_load].shape[0]
print("Total number of such hard workers {0}".format(num_workaholics))

rich_share = float(data[(data['hours-per-week'] == max_load)
                 & (data['salary'] == '>50K')].shape[0]) / num_workaholics
print("Percentage of rich among them {0}%".format(int(100 * rich_share)))

Max time - 99 hours./week.
Total number of such hard workers 85
Percentage of rich among them 29%

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [23]:
# You code here
data.groupby(['native-country','salary'])['hours-per-week'].describe(percentiles=[])

                                     count       mean  ...    50%   max
native-country             salary                      ...
?                          <=50K     437.0  40.164760  ...   40.0  99.0
                           >50K      146.0  45.547945  ...   40.0  80.0
Cambodia                   <=50K      12.0  41.416667  ...   40.0  50.0
                           >50K        7.0  40.000000  ...   40.0  40.0
Canada                     <=50K      82.0  37.914634  ...   40.0  70.0
                           >50K       39.0  45.641026  ...   45.0  72.0
China                      <=50K      55.0  37.381818  ...   40.0  60.0
                           >50K       20.0  38.900000  ...   40.0  60.0
Columbia                   <=50K      57.0  38.684211  ...   40.0  60.0
                           >50K        2.0  50.000000  ...   50.0  50.0
Cuba                       <=50K      70.0  37.985714  ...   40.0  70.0
                           >50K       25.0  42.440000  ...   40.0  60.0
Dominican-Republic         <=50K      68.0  42.338235  ...   40.0  98.0
                           >50K        2.0  47.000000  ...   47.0  54.0
Ecuador                    <=50K      24.0  38.041667  ...   40.0  66.0
                           >50K        4.0  48.750000  ...   50.0  50.0
El-Salvador                <=50K      97.0  36.030928  ...   40.0  60.0
                           >50K        9.0  45.000000  ...   45.0  55.0
England                    <=50K      60.0  40.483333  ...   40.0  99.0
                           >50K       30.0  44.533333  ...   40.0  85.0
France                     <=50K      17.0  41.058824  ...   40.0  66.0
                           >50K       12.0  50.750000  ...   47.5  99.0
Germany                    <=50K      93.0  39.139785  ...   40.0  70.0
                           >50K       44.0  44.977273  ...   45.0  70.0
Greece                     <=50K      21.0  41.809524  ...   40.0  75.0
                           >50K        8.0  50.625000  ...   50.0  65.0
Guatemala                  <=50K      61.0  39.360656  ...   40.0  60.0
                           >50K        3.0  36.666667  ...   40.0  40.0
Haiti                      <=50K      40.0  36.325000  ...   40.0  75.0
                           >50K        4.0  42.750000  ...   40.0  56.0
...                                    ...        ...  ...    ...   ...
Mexico                     >50K       33.0  46.575758  ...   40.0  80.0
Nicaragua                  <=50K      32.0  36.093750  ...   40.0  60.0
                           >50K        2.0  37.500000  ...   37.5  40.0
Outlying-US(Guam-USVI-etc) <=50K      14.0  41.857143  ...   40.0  60.0
Peru                       <=50K      29.0  35.068966  ...   40.0  60.0
                           >50K        2.0  40.000000  ...   40.0  40.0
Philippines                <=50K     137.0  38.065693  ...   40.0  99.0
                           >50K       61.0  43.032787  ...   40.0  80.0
Poland                     <=50K      48.0  38.166667  ...   40.0  65.0
                           >50K       12.0  39.000000  ...   40.0  50.0
Portugal                   <=50K      33.0  41.939394  ...   40.0  84.0
                           >50K        4.0  41.500000  ...   40.0  50.0
Puerto-Rico                <=50K     102.0  38.470588  ...   40.0  80.0
                           >50K       12.0  39.416667  ...   40.0  50.0
Scotland                   <=50K       9.0  39.444444  ...   40.0  55.0
                           >50K        3.0  46.666667  ...   40.0  60.0
South                      <=50K      64.0  40.156250  ...   40.0  99.0
                           >50K       16.0  51.437500  ...   50.0  70.0
Taiwan                     <=50K      31.0  33.774194  ...   40.0  60.0
                           >50K       20.0  46.800000  ...   40.0  84.0
Thailand                   <=50K      15.0  42.866667  ...   40.0  80.0
                           >50K        3.0  58.333333  ...   50.0  75.0
Trinadad&Tobago            <=50K      17.0  37.058824  ...   40.0  60.0
                           >50K        2.0  40.000000  ...   40.0  40.0
United-States              <=50K   21999.0  38.799127  ...   40.0  99.0
                           >50K     7171.0  45.505369  ...   40.0  99.0
Vietnam                    <=50K      62.0  37.193548  ...   40.0  77.0
                           >50K        5.0  39.200000  ...   40.0  40.0
Yugoslavia                 <=50K      10.0  41.600000  ...   40.0  66.0
                           >50K        6.0  49.500000  ...   46.0  65.0

[82 rows x 6 columns]

In [24]:
data[data['native-country']=='Japan'].groupby(['salary'])['hours-per-week'].describe(percentiles=[])

        count       mean        std   min   50%   max
salary
<=50K    38.0  41.000000  11.902759  10.0  40.0  65.0
>50K     24.0  47.958333  16.120414  21.0  42.5  99.0

In [25]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, round(sub_df['hours-per-week'].mean(), 2))

? <=50K 40.16
? >50K 45.55
Cambodia <=50K 41.42
Cambodia >50K 40.0
Canada <=50K 37.91
Canada >50K 45.64
China <=50K 37.38
China >50K 38.9
Columbia <=50K 38.68
Columbia >50K 50.0
Cuba <=50K 37.99
Cuba >50K 42.44
Dominican-Republic <=50K 42.34
Dominican-Republic >50K 47.0
Ecuador <=50K 38.04
Ecuador >50K 48.75
El-Salvador <=50K 36.03
El-Salvador >50K 45.0
England <=50K 40.48
England >50K 44.53
France <=50K 41.06
France >50K 50.75
Germany <=50K 39.14
Germany >50K 44.98
Greece <=50K 41.81
Greece >50K 50.62
Guatemala <=50K 39.36
Guatemala >50K 36.67
Haiti <=50K 36.33
Haiti >50K 42.75
Holand-Netherlands <=50K 40.0
Honduras <=50K 34.33
Honduras >50K 60.0
Hong <=50K 39.14
Hong >50K 45.0
Hungary <=50K 31.3
Hungary >50K 50.0
India <=50K 38.23
India >50K 46.48
Iran <=50K 41.44
Iran >50K 47.5
Ireland <=50K 40.95
Ireland >50K 48.0
Italy <=50K 39.62
Italy >50K 45.4
Jamaica <=50K 38.24
Jamaica >50K 41.1
Japan <=50K 41.0
Japan >50K 47.96
Laos <=50K 40.38
Laos >50K 40.0
Mexico <=50K 40.0
Mexico >50K 46.58
Nicaragua <=50K 36.09
Nicaragua >50K 37.5
Outlying-US(Guam-USVI-etc) <=50K 41.86
Peru <=50K 35.07
Peru >50K 40.0
Philippines <=50K 38.07
Philippines >50K 43.03
Poland <=50K 38.17
Poland >50K 39.0
Portugal <=50K 41.94
Portugal >50K 41.5
Puerto-Rico <=50K 38.47
Puerto-Rico >50K 39.42
Scotland <=50K 39.44
Scotland >50K 46.67
South <=50K 40.16
South >50K 51.44
Taiwan <=50K 33.77
Taiwan >50K 46.8
Thailand <=50K 42.87
Thailand >50K 58.33
Trinadad&Tobago <=50K 37.06
Trinadad&Tobago >50K 40.0
United-States <=50K 38.8
United-States >50K 45.51
Vietnam <=50K 37.19
Vietnam >50K 39.2
Yugoslavia <=50K 41.6
Yugoslavia >50K 49.5